opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'STREAM'
  live_stream_id: 'live' # ID of the live stream created in the OpenCTI UI
  name: 'Mqtt'
  scope: 'mqtt' # Reserved
  confidence_level: 80 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

mqtt:
  broker_url: 'https://console.changeme.com'
  broker_port: 1883
  client_id: 'ChangeMe'
  keep_alive: 60
  qos: 1
  username: 'ChangeMe'
  password: 'ChangeMe'
  ca_file: 'ChangeMe'
  cert_file: 'ChangeMe'
  key_file: 'ChangeMe'
  ssl_verify: true